/*boiler plate css
*/
* {
box-sizing: border-box;
}
/* root element to contain global variables */
:root {
    /* Fonts  */
  --base-font: "montserrat", sans-serif;
  
}

body.dark {
    /* colors   */
  --background: #72efdd;
  --background-sub: #56cfe1;
  --background-inverse: #48bfe3;
  --background-sub2: #031926;
  --background-inverse2: #;
  --background-sub3: #6930c3;
  --background-inverse3: #7400b8;
  --background-dark: #073b4c;
  --background-dark-inverse: #ff99c8;
  --background-sub4: #affc41;
  --background-inverse4: #b2ff9e;
  --background-dark2: #3c1642;
  --background-dark3: #0b132b;
  --background-dark4: #042a2b;
  --background-darker: #0e1428;
  --background-linear-gradient0: linear-gradient(black,white);
  --background-radial-gradient0: radial-gradient(black,white);
  /* text colors */
  --text: var(--background);
  --text-inverse: var(--background-inverse);
}


body {
    background-color: var(--background-dark3);
    color: var(--background-sub);
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Quantico', sans-serif;;
    /* overflow: hidden; */
    /* height: 100vh; */
}

span {
    text-decoration: underline solid white;
    cursor: context-menu;
}

header {
    height: 8vh;
    width: 60vw;
    margin-top: 0px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
}
#left-header{
    max-width: 30vw;
    background-color: yellow;
}

.headerItems {

    margin-top: 0px;
    margin-bottom: 0px;

}

#pageTitle {
    font-size: 2em;
    margin: -5px 0 -5px 0;
}

#pageSubtitle{
    font-size: 10px;
    margin: 0;

}

nav {
    position: relative;
    display: flex;
    flex-flow: row nowrpa;
    height: 30px;
    background-color: rgba(0,0,0,.2);
    width: 100%;

}

.navItem {
    margin: 0 15px;
}

#right-header{
    max-width: 30vw;
    max-height: 8vh;
    background-color: orange;
    display: flex;
    /* background-color: var(--background-inverse2); */
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    overflow: hidden;
    padding: 5px;
    cursor: alias;

}

.help__missions {
    /* background-color: var(--background-sub2); */
    color: var(--background-inverse4);
    width: 50%;
    line-height: .8em;
    font-size: 1em;
    overflow: scroll;
    cursor: help;
}

.help__transmitter {
    /* background-color: var(--background-inverse3); */
    color: var(--background-sub);
    width: 50;
    line-height: .8em;
    font-size: 1em;
    overflow: scroll;
    cursor: help;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 1vh;
    width: 80vw;
    height: 90vh;
    margin-top: 30px;
    /* margin: 50px 0;; */
}

.left-side {
    flex:1;
    max-width: 30vw;
    min-width: 20px;
    margin: 0px 1vw 5vh -1vw;
    padding: 5px;
    height: 90vh;
}

.right-side {
    flex: 2.5;
    margin: -5vh 2vw 2vh 0;
    max-width: 70vw;
    min-width: 200px;
    max-height: 88vh;
    /* margin-top: 100px; */

}

/* ///////////// LEFT COLUMN /////////////// */


#backstory {
    flex: 1;
    background-color: rgba(0,0,0,.2);
    border-radius: 3px 30px 3px;
    display: inline-block;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto; 
    height: 30vh;
    max-width: 70vw;
    padding: 10px 20px;
    margin: 0px 5px 0px 15px;
    text-align: center;
    cursor: s-resize;
    line-height: 1.2em;
    width: fit-content;
    font-size: 14px;
}

.gameChoiceButtons {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0px 0 20px 30px;
    cursor: pointer;
    align-content: flex-start;
    max-width: 30vw;
    max-height: 10vh;
}

.gameChoiceButtons section {
    /* margin-top: 5px 0 10px 10px; */
}

#challenge,#askQs {
    text-align: center;
    /* margin: -5px 20px 20px 20px; */
    font-size: 10px;
    max-width: 240px;
    max-height: 140px;
    text-align: center;
    display: block;
    color: var(--background-inverse4);
}

#askPlay{
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    margin: -15px 0 -20px 0;
}

.letsPlay,#dontPlay{
    align-self: center;
    width: 70px;
    height: 30px;
    font-size: 15px;
    margin-left:3px;
    padding: 15px;
    display: block;
    border: 2px outset var(--background-dark2);
    background-color: var(--background-darker);
    color: var(--background-sub);
    text-align: center;
    cursor: pointer;
}

#helpQ,#goHelp {
    color: var(--background-inverse3);
    background-color: var(--background-inverse4);
    margin:0;
    font-size: 10px;
    height: 15px;
    cursor: pointer;
}

 /* {
    color: var(--background-inverse3);
    background-color: var(--background-inverse4);
    margin:10 0 0 30px;;
    line-height: 0px;
    font-size: 10px;
    height: 15px;
    cursor: pointer;
} */

/* ////// TOOL TIP SECTION ///// */
.hint--image:after {
    content: '' !important;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.phantomWars :after {
    background-image: url("https://i.imgur.com/uSwz4dF.png");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.federateDomain:after {
    background-image: url("https://i.imgur.com/K6SEvJa.png?1");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.backpack:after {
    background-image: url("https://i.imgur.com/5gSctma.png?1");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.botCops:after {
    background-image: url("https://i.imgur.com/7fXGjQm.png?1");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.approvedCitizens:after {
    background-image: url("#");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.encryption:after {
    background-image: url("https://i.imgur.com/DoAdMPN.jpg");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.idcheckerpic:after {
    background-image: url("https://i.imgur.com/6XYB30z.png?1");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.idTransmitterPic:after {
    background-image: url("#");
    height: 40px;
    width: 100px;
    opacity: 0.7;
} 

.deviantForces:after {
    background-image: url("#");
    height: 40px;
    width: 100px;
    opacity: 0.7;
} 

#gif1:after {
    background-image: url("#");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

#gif2:after {
    background-image: url("#");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

/* 
.custom_class:after {
    background-image: url("phantomWars.png");
    height: 40px;
    width: 100px;
    opacity: 0.7;
} 
 */

/* ///////// DEVIANT USER INFO /////////// */
#deviant {
    /* flex: 1; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: space-around;
    
    background-color: none;
    height: 45vh;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10%;
    margin: 0px 5px 10px 15px;
    /* padding: 5px; */
    /* width: 200px; */
}

#deviant__img {
    max-width: 230px;
    min-width: 100px;
    border: 8px inset var(--background-dark);
    border-radius: 100%;
    margin: 0 0 0 2vw ;
}

#deviant__name {
    flex: flex-grow;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    /* margin: 0 auto; */
}

#deviant__data {
    line-height: .2em;
    font-size: 1.2em;
    margin-bottom: -15px;
    border: 0;
    /* padding: -5px; */
    text-align: center;
}

/* ///////////// RIGHT COLUMN /////////////// */



/* /////////  ON HOVER expand with transition  ////////// */

.grow12 {
    transition: all 200ms ease-in-out;}
.grow12:hover {
    transform: scale(1.2);}

.grow14{
    transition: all 150ms ease-in-out;}
.grow14:hover{
    transform: scale(1.4);}

.grow16{
    transition: all 200ms ease-in-out;}
.grow16{
    transform: scale(1.4);}

/* ///// ICONS  /////// */




.mapIcon {
    color: green;
    margin-top: 10px;
    position: flex;
}


/* ///////////// prompt divs /////////////// */
#dungeonANDoverflow {
    max-height: 85vh;
}

#promptBox{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-content: center;
    align-items: flex-start;
    width: 62vw;
    max-height: 10vh;
    border-radius: 10%;
}
#robotPromptContainer {
    z-index: 5;
    background-color: rgba(0,0,0,.4);
    width: 50%;
    display: inline-block;
    /* margin-top: -100px; */
    overflow: scroll;
    /* font-size: 5px; */
    border-radius: 10px;

}

#robotHead {
    width: 70px;
    padding: 15px 0 15px 15px;
    display: inline-block;
    /* border-radius: 100%;
    margin-left: 100px; 
    z-index: 17;  */
}

#robotPromptLines{
    color: white;
    font-size: 12px;
    text-shadow: 1px 1px 1px black;
    overflow: scroll;
}

#promptAbdaContainer {
    z-index: 5;
    background-color: rgba(0,0,0,.4);
    width: 50%;
    display: inline-block;

    /* margin-top: -100px;
    margin-right: -100px; */
    overflow: scroll;
    /* font-size: 15px; */
    display:flex;
    justify-content: flex-end;
    border-radius: 10px;

}

#abdaImg {
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    display: inline-block;
    overflow: scroll;
    z-index: 17;
}

#abdaPromptLines {
    color: white;
    font-size: 12px;
    text-shadow: 1px 1px 1px black;
}




/* ///////////// STREETS & GAME /////////////// */


.dungeon {
    flex: 2.5;
    width: 63vw;
    /* height: 500px; */
    height: 70vh;
    background-color: var(--background-linear-gradient0);
    /* margin-top: 1; */
        /* url("") */
    /* background-size: 63vw 70vh; */
    overflow: scroll;
    border: 10px inset rgba(50,50,50,.5);
    /* border-radius: 10%; */
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    z-index: 1;

    /* margin-right: 20%; */
    /* margin-left: 10%; */
}

.animationScroll {
    width:  140vw;
    height: 160vh;
    /* background:  */
        /* url("https://i.imgur.com/dAIwZ6v.png") bottom right no-repeat ; */
    /* transform: scale(); */
    /* width:  150vw;  */
}

.aniScroll {
    width: 100%;
    height: 100%;
    cursor: all-scroll;

}



#mapBiggerDiv {
    /* display:flex; */
    display:flex;
    flex-flow: row nowrap;
    margin: 5px 120px 80 -100px;
    justify-content: space-evenly;
    width: 70vw;
    max-height: 15vh;
    background-color: none;
}

#mapDiv {
    background-image: url("https://i.imgur.com/3Ml5Mdy.jpg") bottom center repeat;
    height: 8vh;
    padding: 0;
    display: flex;
    position: relative;
    margin-top: 20px;
}

.street {
    width: 90px;
    height: 60px;
    background: var(--background-sub4);
    border: 2px dashed cyan;
}

.street.highlight {
    background: var(--background-inverse3);
    /*   border: 5px solid var(--sub-dark); */
}

.street.visited {
    background: teal;
}

.walk {
    --button-width: 85px;
    --button-height: 65px;
    --button-radius: 10px;
    
    width: var(--button-width);
    height: var(--button-height);
    background: var(--background-dark4);
    border-radius: var(--button-radius);
    
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    cursor: pointer;
    transition: transform .3s ease-in;
    /* margin: 15px; */
    overflow: hidden; 
    margin-top: 10px;
    margin-left: -10px;
    font-size: 16px; 
    color: gray;
} 


/*   
  button:hover {
    filter: brightness(120%);
  }
  
  #play {
    display: block;
    position: absolute;
    align-self: center;
    justify-self: center;
    width: 40%;
    height: 30%;
  }
  
  .prompt {
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 30px;
  } */


















footer {
    margin:90vh 0;

    color: gray;     
}



