/*boiler plate css
*/
* {
box-sizing: border-box;
}
/* root element to contain global variables */
:root {
    /* Fonts  */
  --base-font: "montserrat", sans-serif;
  
}

body.dark {
    /* colors   */
  --background: #72efdd;
  --background-sub: #56cfe1;
  --background-inverse: #48bfe3;
  --background-sub2: #031926;
  --background-inverse2: #;
  --background-sub3: #6930c3;
  --background-inverse3: #7400b8;
  --background-dark: #073b4c;
  --background-dark-inverse: #ff99c8;
  --background-sub4: #affc41;
  --background-inverse4: #b2ff9e;
  --background-dark2: #3c1642;
  --background-dark3: #0b132b;
  --background-dark4: #042a2b;
  --background-darker: #0e1428;
  /* text colors */
  --text: var(--background);
  --text-inverse: var(--background-inverse);
}


body {
    background-color: var(--background-dark3);
    color: var(--background-sub);
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    /* height: 100vh; */


}

h1 {
    margin-top: 0px;
}

h3 {
    margin: 0;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 15px;
    width: 80vw;
    margin-top: -30px;
    /* margin: 50px 0;; */
}

.left-side {
    flex:1;
    max-width: 30vw;
    min-width: 20px;
    margin: -50px 5px 110px 5px;
    padding: 5px;
    height: 80vh;
}

.right-side {
    flex: 2.5;
    margin: 15px 15px 15px 140px;
    max-width: 70vw;
    min-width: 200px;
    height: 80vh;
    /* margin-top: 100px; */

}

#backstory {
    flex: 1;
    background-color: none;
    display: inline-block;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto; 
    height: 35vh;
    padding: 100px 30px;
    margin:10px 5px 50px 5px;
    max-width: 

    /* margin-top: 10px; */
    /* padding: 0 1%; */
}

p {
    line-height: 1.2em;
}

.hint--image:after {
    content: '' !important;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;

}

.phantomWars :after {
    background-image: url("phantomWars.png");
    height: 40px;
    width: 100px;
}

.federateDomain:after {
    background-image: url("https://i.imgur.com/K6SEvJa.png?1");
    height: 40px;
    width: 100px;
}

.backpack:after {
    background-image: url("https://i.imgur.com/5gSctma.png?1");
    height: 40px;
    width: 100px;
}

.botCops:after {
    background-image: url("https://i.imgur.com/7fXGjQm.png?1");
    height: 40px;
    width: 100px;
}

.approvedCitizens:after {
    background-image: url("phantomWars.png");
    height: 40px;
    width: 100px;
}


.encryption:after {
    background-image: url("https://i.imgur.com/DoAdMPN.jpg");
    height: 40px;
    width: 100px;
}

.custom_class:after {
    background-image: url("phantomWars.png");
    height: 40px;
    width: 100px;
}

.custom_class:after {
    background-image: url("phantomWars.png");
    height: 40px;
    width: 100px;
} 



.deviant {
    flex: 1;
    background-color: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 30vh;
    margin-top: 30px;
    /* padding: 5px; */
    /* width: 200px; */
}

.deviant__img {
    max-width: 250px;
    min-width: 100px;
    border: 8px inset var(--background-dark);
    border-radius: 100%;
}

.deviant__name {
    flex: flex-grow;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    /* margin: 0 auto; */
}

.deviant__data {
    line-height: .8em;
    font-size: 1.2em;
    margin-bottom: 60px;
    border: 0 ;
    /* padding: -5px; */
    text-align: center;
}

#help {
    display: flex;
    background-color: var(--background-inverse2);
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    overflow: hidden;
    height: 30px;
    padding: 5px;
    margin: 5 8%;
    max-width: 920px;


}

.help__missions {
    background-color: var(--background-sub2);
    color: #000000;
    width: 600px;
    line-height: .8em;
    font-size: 1em;
    margin: 5 8%;

    /* height: 15vh; */
    /* padding: 5px; */
    /* align-self: center; */
    
}

.help__transmitter {
    background-color: var(--background-inverse3);
    color: black;
    width: 40%;
    line-height: .8em;
    font-size: 1em;
    height: 40vh;
    /* margin: 0 8%; */
    /* padding: 5px; */
    /* margin-left: 5%; */
    /* align-self: right; */
}

.animation {
    flex: 2.5;
    width: 63vw;
    height: 70vh;
    background-color: var(--background-sub2);
    margin-top: 3%;
    
    /* margin-right: 20%; */
    /* margin-left: 10%; */
}























footer {
    margin-top: 30px;      /* put footer in HTML */
}



