/*boiler plate css
*/
* {
box-sizing: border-box;
}
/* root element to contain global variables */
:root {
    /* Fonts  */
  --base-font: "montserrat", sans-serif;
  
}

body.dark {
    /* colors   */
  --background: #72efdd;
  --background-sub: #56cfe1;
  --background-inverse: #48bfe3;
  --background-sub2: #031926;
  --background-inverse2: #;
  --background-sub3: #6930c3;
  --background-inverse3: #7400b8;
  --background-dark: #073b4c;
  --background-dark-inverse: #ff99c8;
  --background-sub4: #affc41;
  --background-inverse4: #b2ff9e;
  --background-dark2: #3c1642;
  --background-dark3: #0b132b;
  --background-dark4: #042a2b;
  --background-darker: #0e1428;
  --background-linear-gradient0: linear-gradient(black,white);
  --background-radial-gradient0: radial-gradient(black,white);
  /* text colors */
  --text: var(--background);
  --text-inverse: var(--background-inverse);
}


body {
    background-color: var(--background-dark3);
    color: var(--background-sub);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* overflow: hidden; */
    /* height: 100vh; */
}

span {
    text-decoration: underline solid white;
}

h1 {
    margin-top: 0px;
}

h3 {
    margin: 0;
}

header {
    height: 10vh;
    height: fit-content;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 1vh;
    width: 80vw;
    height: 90vh;
    /* margin-top: -30px; */
    /* margin: 50px 0;; */
}

.left-side {
    flex:1;
    max-width: 30vw;
    min-width: 20px;
    margin: 1vh 1vw 5vh -1vw;
    padding: 5px;
    height: 90vh;
}

.right-side {
    flex: 2.5;
    margin: 2vh 2vw 2vh 5vw;
    max-width: 70vw;
    min-width: 200px;
    height: 90vh;
    /* margin-top: 100px; */

}

/* ///////////// LEFT COLUMN /////////////// */


#backstory {
    flex: 1;
    background-color: none;
    display: inline-block;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto; 
    height: 35vh;
    width: 25vw;
    padding: 10px 30px;
    margin:0px 5px 50px 5px;
    text-align: center;

    /* margin-top: 10px; */
    /* padding: 0 1%; */
}

p {
    line-height: 1.2em;
    width: fit-content;
    max-width: 25vw;
}

.gameChoiceButtons {
    display: flex;
    flex-flow: row wrap;
    margin-top: -15px;
}

.gameChoiceButtons h3{
    border: 2px outset var(--background-dark2);
    background-color: var(--background-darker);
    width: 40px;
    color: var(--background-sub);
    margin:0;
    font-size: 15px;
    height: 20px;
    text-align: center;
}

.gameChoiceButtons h5 {
    color: var(--background-inverse3);
    background-color: var(--background-inverse4);
    margin:0;
    line-height: 10px;
    font-size: 10px;
    height: 15px;
}


.gameChoiceButtons p {
    color: var(--background-inverse3);
    background-color: var(--background-inverse4);
    margin:0;
    line-height: 10px;
    font-size: 10px;
    height: 15px;

}

.hint--image:after {
    content: '' !important;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.phantomWars :after {
    background-image: url("https://i.imgur.com/uSwz4dF.png");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.federateDomain:after {
    background-image: url("https://i.imgur.com/K6SEvJa.png?1");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.backpack:after {
    background-image: url("https://i.imgur.com/5gSctma.png?1");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.botCops:after {
    background-image: url("https://i.imgur.com/7fXGjQm.png?1");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.approvedCitizens:after {
    background-image: url("phantomWars.png");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.encryption:after {
    background-image: url("https://i.imgur.com/DoAdMPN.jpg");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.idcheckerpic:after {
    background-image: url("https://i.imgur.com/6XYB30z.png?1");
    height: 40px;
    width: 100px;
    opacity: 0.7;
}

.idTransmitterPic:after {
    background-image: url("phantomWars.png");
    height: 40px;
    width: 100px;
    opacity: 0.7;
} 

.deviantForces:after {
    background-image: url("phantomWars.png");
    height: 40px;
    width: 100px;
    opacity: 0.7;
} 


/* 
.custom_class:after {
    background-image: url("phantomWars.png");
    height: 40px;
    width: 100px;
    opacity: 0.7;
} 
 */


#deviant {
    flex: 1;
    background-color: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 30vh;
    margin-top: 30px;
    /* padding: 5px; */
    /* width: 200px; */
}

#deviant__img {
    max-width: 250px;
    min-width: 100px;
    border: 8px inset var(--background-dark);
    border-radius: 100%;
}

#deviant__name {
    flex: flex-grow;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    /* margin: 0 auto; */
}

#deviant__data {
    line-height: .8em;
    font-size: 1.2em;
    margin-bottom: 60px;
    border: 0 ;
    /* padding: -5px; */
    text-align: center;
}

/* ///////////// RIGHT COLUMN /////////////// */

#help {
    display: flex;
    /* background-color: var(--background-inverse2); */
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    overflow: scroll;
    height: 5vh;
    padding: 5px;
    margin: 5 8%;
    width: 63vw;
}

.help__missions {
    /* background-color: var(--background-sub2); */
    color: var(--background-inverse4);
    width: 600px;
    line-height: .8em;
    font-size: 1em;
    margin: 5 8%;
    overflow: inherit;

    /* height: 15vh; */
    /* padding: 5px; */
    /* align-self: center; */
}

.help__transmitter {
    /* background-color: var(--background-inverse3); */
    color: var(--background-sub);
    width: 40%;
    line-height: .8em;
    font-size: 1em;
    overflow: inherit;

    /* margin: 0 8%; */
    /* padding: 5px; */
    /* margin-left: 5%; */
    /* align-self: right; */
}




/* ///////////// STREETS & GAME /////////////// */




.dungeon {
    flex: 2.5;
    width: 63vw;
    /* height: 500px; */
    height: 70vh;
    background-color: var(--background-linear-gradient0);
    margin-top: 1vh;
    
        /* url("") */
    /* background-size: 63vw 70vh; */
    overflow: scroll;
    border: 10px inset rgba(50,50,50,.5);
    /* border-radius: 10%; */
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;

    /* margin-right: 20%; */
    /* margin-left: 10%; */
}

.animationScroll {
    /* background:  */
        /* url("https://i.imgur.com/dAIwZ6v.png") bottom right no-repeat ; */
    width:  140vw;
    /* transform: scale(); */
    /* width:  150vw;  */
    height: 160vh;

}

.aniScroll {
    width: 100%;
    height: 100%;

}

/* .dungeon img { */
    /* width: 63vw;
    height: 70vh; */
    /* width: 100%;
    position: cover; */
    /* top: -5px; */
    /* height: 110%;
} */

#mapDiv {
    background-image: url("https://i.imgur.com/3Ml5Mdy.jpg") bottom center repeat;
    height: 6vh;
    padding: 0;
    display: flex;
    position: relative;

}

button {
    margin-top: 0;
    width: 10vw;
    height: 5vh;

}

.street {
    width: 80px;
    height: 80px;
    background: var(--background-sub4);
    border: 2px dashed cyan;
}

.street.highlight {
    background: var(--background-inverse3);
    /*   border: 5px solid var(--sub-dark); */
}

.street.visited {
    background: teal;
}



















footer {
    margin-top: 0px;
    color: gray;      /* put footer in HTML */
}



