/* give transmitter display position of absolute-- turn off to change things */

:root {
    /* Fonts  */
  --base-font: "montserrat", sans-serif;
  
}

body.dark {
    /* colors   */
  --background: #72efdd;
  --background-sub: #56cfe1;
  --background-inverse: #48bfe3;
  --background-sub2: #5390d9;
  --background-inverse2: #5e60ce;
  --background-sub3: #6930c3;
  --background-inverse3: #7400b8;
  --background-dark: #073b4c;
  --background-dark-inverse: #ff99c8;
  --background-sub4: #affc41;
  --background-inverse4: #b2ff9e;
  --background-dark2: #3c1642;
  --background-dark3: #0b132b;
  --background-dark4: #042a2b;
  --background-linear-gradient0: linear-gradient(black,white);
  --background-radial-gradient0: radial-gradient(black,white);
  /* text colors */
  --text: var(--background);
  --text-inverse: var(--background-inverse);
}


.transmitterBothDisplays {
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    position: absolute;
    width: 63vw;
    height: 70vh;
    bottom: 4.7vh;
    right: -113vh;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    /* locked mode to edit transmitters */
    /* bottom: 1.3vh;
    right: 7vh; */
} 

#startBar {
    background-color: var(--background-dark4);
    opacity: .5;
    height: 80%;
    width: 10px;
    position: absolute;
    border-top-left-radius: 110px;
    border-bottom-left-radius: 110px;
    margin-left: 1px;
    /* border-top-right-radius: 90px;
    border-bottom-right-radius: 90px; */
}

.transmitterBothDisplays:hover { 
    bottom: 4.7vh;
    /* perfect height with animation box  */
    right: 23vh;   
    /* perfect width w/ animation box*/
    transition: 850ms;
    cursor: crosshair;
}   

.transmitter__user {
    background-color: var(--background-dark3);
    height: 65vh;
    width: 29vw;
    margin: 15px;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    border-radius: 10%;

}

.fa-eye {
    margin-top: -25px;
    color: yellow;
    outline-color: blue;
    width: 25px;
}

.transmitter__screen{
    background-color: var(--background);
    margin: 15px auto; 
    align-items: center;
    width: 26vw;
    height: 23vh;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    align-content: flex-start;
    border-radius: 10%;

}

.newEQul {
    overflow: auto;
    font-size: 23px;
    color: var(--background-inverse2);
}

.far fa-eye {
    width: 10px;
}

.EQ {
    margin-left: 5px;
}

.newEQ {
    display: flex-box;
    justify-content: start;
    flex-flow: column wrap;
    text-align: right;
    color: var(--background-inverse3);
    width: 26vw;
    height: 5vh;
    overflow: auto;
    margin-top: 0px;
    margin-right: 8px;
    font-size: 23px;
    border-radius: 10%;

}


#alpha {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
    margin-top: -10px;
}

.alpha{
    width: 25px;
    height: 18px;
    font-size: 15px;
    line-height: 27px;
    background-color: var(--background-inverse2);
    /* margin: -2px; */
    margin: 1.5px;
    text-align: center;
    padding: 3px 5px;
    cursor: pointer;

}

.transmitter__buttonArea {
    background-color: var(--background-sub2);
    /* use this to position buttons */
    margin: 3px auto; 
    width: 85%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0px;
    align-items: stretch;
    border-radius: 10%;

}

.numButt {
    background-color: var(--background-dark-inverse);
    color: var(--background-dark3);
    font-size: 1.5em;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30%;
    width: 30px;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.symButt_left {
    background-color: var(--background);
    flex-flow: column nowrap;
    align-items: center;
    color: var(--background-dark3);
    font-size: 1.5em;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
    margin-bottom: 4px;
    border-radius: 40%;
    width: 30px;
    width: 0px;
    align-items: stretch;
    cursor: pointer;

}

.symButt_right {
    background-color: var(--background);
    flex-flow: column nowrap;
    align-items: center;
    color: var(--background-dark4);
    font-size: 1.5em;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
    margin-top: 4px;
    border-radius: 40%;
    width: 30px;
    width: 0px;
    align-items: stretch;
    cursor: pointer;
}

.bigButtons {
    flex-direction: row nowrap;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--background-sub3);
    font-size: 1em;
    color: var(--background-sub);
    margin: -8px 0 18px 0;
    text-align: center;
    cursor: pointer;
}

#bigBtnProb {
    margin: 5px;
    background-color: var(--background-sub);
    text-align: center;
    order: 1;    
    padding: 5px;
    width: 30px;
    height: 20px;
    font-size: 16;
    line-height: 18px;
    color: var(--background-dark3);
    cursor: pointer;
}

#btnEquals {
    order: 2;
    margin: 15px;
    background-color: var(--background-inverse3);
    text-align: center;
    padding: 10px;
    width: 40px;
    height: 30px;
    font-size: 45;
    color: var(--background-dark3);
    line-height: 18px;
    cursor: pointer;
}

#bigBtnSolu {
    order: 3;
    margin: 5px;
    background-color: var(--background-sub);
    text-align: center;
    padding: 5px;
    width: 40px;
    height: 20px;
    font-size: 16;
    color: var(--background-dark3);
    line-height: 18px;
    cursor: pointer;
}


#greek {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
    margin-top: -10px;
    color: var(--background-inverse2);
}

.greek {
    width: 25px;
    height: 18px;
    font-size: 15px;
    line-height: 27px;
    background-color: var(--background-sub);
    margin: 1.5px;
    text-align: center;
    padding: 2px 5px;
    cursor: pointer;
}

#bubble {
    align-self: flex-start;
    border-radius: 50%;
    width: 300px;
    height: 150px;
    background-color: var(--background-inverse4);
    color: var(--background-dark4);
    padding: 5px;
    font-size: 25px;
    text-align: center;
    flex-flow: row nowrap;
    z-index: 1;
    /* position: fixed; */
    margin: -15vh;
}

#idchecker {
    background-color: var(--background-dark2);
    height: 65vh;
    width: 29vw;
    margin: 15px;
    margin-top: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    cursor: not-allowed;
    border-radius: 10%;
    /* border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px; */
}

#idchecker__screen {
    background-color: var(--background-dark4);
    margin: 15px auto; 
    align-items: center;
    width: 85%;
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: auto;
    color: var(--background-inverse);
    border-radius: 10%;

    /* make sure to have new input <p's jquery .before() with class="newEQ"*/
}

#idchecker__buttonArea {
    /* use this for positioning */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-content: center;
    height: 80%;
    width: 25vw;
    background-color: var(--background-inverse2);
    margin: 10px auto;
    border-radius: 10%;

}



#loadingBar {
    width: 23vw;
    height: 4vh;
    background-color: var(--background-sub2);
    margin: 5px;
    padding: 0 5px;
    align-self: flex-start;
    color: var(--background-sub4);
    align-self: center;
    font-size: 30px;
    text-align: right;
}

#idcheck_buttons {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    align-content: stretch;
    line-height: 1em;
    font-size: 1em;
    background-color: var(--background-dark-inverse);
    width: 23vw;
    height: 15vh;
    margin-bottom: 25%;
}



#deny {
    background-color: var(--background-inverse3);
    height: 14vh;
    width: 11vw;
    margin-right: 15px;
    align-self: center;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: center;
    padding: 10px;
} 

.idcheck_buttons h3 {
    color: black;
    line-height: 25px;
    font-size: 25px;
}

#clear {
    background-color: var(--background-inverse4);
    height: 14vh;
    width: 11vw;
    margin-left: 15px;
    align-self: center;
    text-align: center;
    padding: 10px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

}





